<form method="post" action="Create">
    
    <input type="text" name="Name" placeholder="Enter Name">
    <input type="number" name="Year" placeholder="Enter Year">
    <input type="number" name="HorsePower" placeholder="Enter HorsePower">
    <button type="submit">Create</button>
</form>
